.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# raw kinetics data
/GTPase_assay/data/
/GTP_cycle/data/
# old and deprecated data
/GTPase_assay/old*/

# experiment settings
/GTPase_assay/GAP_assay_experiments/
/MOG1_binding/experiments/
/GTP_cycle/experiments/
# temp plots
*pdf
*pdf


